<a href="https://colab.research.google.com/github/DianaBravoPerez/EDP-1/blob/main/Untitled56.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

numeros aleatorios (ciclo de vida)

In [44]:
import tabulate

In [ ]:
def generador(a,b,m,x0):
    x1=(a*x0+b) %m
    return x1

In [ ]:
n=70
a=2
b=2
m=64
x0=1

In [ ]:
muestra=[]
datos=[]

for i in range(n):
  nuevo=generador(a,b,m,x0)
  muestra.append([i,x0,nuevo/64])
  datos.append(x0/64)
  x0=nuevo

encabezados=["i","x_i", "X_{i+1}"]
import tabulate
print(tabulate.tabulate(muestra, headers=encabezados, tablefmt="psql",numalign="center"))

+-----+-------+-----------+
|  i  |  x_i  |  X_{i+1}  |
|-----+-------+-----------|
|  0  |   1   |  0.0625   |
|  1  |   4   |  0.15625  |
|  2  |  10   |  0.34375  |
|  3  |  22   |  0.71875  |
|  4  |  46   |  0.46875  |
|  5  |  30   |  0.96875  |
|  6  |  62   |  0.96875  |
|  7  |  62   |  0.96875  |
|  8  |  62   |  0.96875  |
|  9  |  62   |  0.96875  |
| 10  |  62   |  0.96875  |
| 11  |  62   |  0.96875  |
| 12  |  62   |  0.96875  |
| 13  |  62   |  0.96875  |
| 14  |  62   |  0.96875  |
| 15  |  62   |  0.96875  |
| 16  |  62   |  0.96875  |
| 17  |  62   |  0.96875  |
| 18  |  62   |  0.96875  |
| 19  |  62   |  0.96875  |
| 20  |  62   |  0.96875  |
| 21  |  62   |  0.96875  |
| 22  |  62   |  0.96875  |
| 23  |  62   |  0.96875  |
| 24  |  62   |  0.96875  |
| 25  |  62   |  0.96875  |
| 26  |  62   |  0.96875  |
| 27  |  62   |  0.96875  |
| 28  |  62   |  0.96875  |
| 29  |  62   |  0.96875  |
| 30  |  62   |  0.96875  |
| 31  |  62   |  0.96875  |
| 32  |  62   |  0.96875  |
| 33  |  62   |  0.96875  |
| 34  |  62   |  0.96875  |
| 35  |  62   |  0.96875  |
| 36  |  62   |  0.96875  |
| 37  |  62   |  0.96875  |
| 38  |  62   |  0.96875  |
| 39  |  62   |  0.96875  |
| 40  |  62   |  0.96875  |
| 41  |  62   |  0.96875  |
| 42  |  62   |  0.96875  |
| 43  |  62   |  0.96875  |
| 44  |  62   |  0.96875  |
| 45  |  62   |  0.96875  |
| 46  |  62   |  0.96875  |
| 47  |  62   |  0.96875  |
| 48  |  62   |  0.96875  |
| 49  |  62   |  0.96875  |
| 50  |  62   |  0.96875  |
| 51  |  62   |  0.96875  |
| 52  |  62   |  0.96875  |
| 53  |  62   |  0.96875  |
| 54  |  62   |  0.96875  |
| 55  |  62   |  0.96875  |
| 56  |  62   |  0.96875  |
| 57  |  62   |  0.96875  |
| 58  |  62   |  0.96875  |
| 59  |  62   |  0.96875  |
| 60  |  62   |  0.96875  |
| 61  |  62   |  0.96875  |
| 62  |  62   |  0.96875  |
| 63  |  62   |  0.96875  |
| 64  |  62   |  0.96875  |
| 65  |  62   |  0.96875  |
| 66  |  62   |  0.96875  |
| 67  |  62   |  0.96875  |
| 68  |  62   |  0.96875  |
| 69  |  62   |  0.96875  |
+-----+-------+-----------+